*{
    color: white;
 }
.contentbox{
    position: static;
     height: 100px;
     width:  100px;
    border: 2px solid black;
    display: inline-block;
    color: black;
 

}

 #navbar{
     height: 60px;
     background-color: black;
    top: 0px;
 }
 button{
     background-color: #f08804;
 }
 #logo{
     color: #f08804;
 }
 a{
     margin-right: 200px;
 }
 footer{
    background-color: black;
    color: white;
    text-align: center  ;
 }  
 #content{
    height: 800px;
 }     
                                        